
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profilim</h2>
<nav>
    <div>
        Yusuf Arslan
    </div>
    <div>
        .Net Developer
    </div>
</nav>

