
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>#1 Profilim</h2>
<h2>#2 TÜm Başlıklar Paging</h2>
<h2>#3 Mesajlarda Session</h2>
<h2>#4 Oturum Yönetiminin Mimariye Taşınması</h2>
<h2>#4 Token Kullanımı</h2>

